<section id='content' class='main'>
  <h2 id='patient'>Patient Information</h4>
    <table class="table table-user-information">
      <tbody>
      <tr>
        <td> <b>Personal Information: </b></td>
        <td></td>
      </tr>

      <tr>
        <td>Patient ID:</td>
        <td><%= @params[:id] %></td>
      </tr>

      <tr>
        <td>Patient Status:</td>
        <td><%= @params[:active] ? "Active" : "Not Active" %></td>
      </tr>

      <tr>
        <td>Email:</td>
        <td><%= @params[:email] %></td>
      </tr>

      <tr>
        <td>Patient First Name:</td>
        <td><%= @params[:fn] %></td>
      </tr>

      <tr>
        <td>Patient Last Name:</td>
        <td><%= @params[:ln] %></td>
      </tr>

      <tr>
        <td>Date of Birth:</td>
        <td><%= @params[:dob] %></td>
      </tr>

      <tr>
        <td>Gender:</td>
        <td><%= @params[:gender] %></td>
      </tr>

      <tr>
        <td>Address:</td>
        <td><%= "#{@params[:a_line]}, #{@params[:city]}, #{@params[:state]} #{@params[:pc]}, #{@params[:country]}" %></td>
      </tr>

      <tr>
        <td>Phone:</td>
        <td><%= @params[:phone] %></td>
      </tr>



      </tbody>
    </table>
    <h5>Other Information...</h5>
    <p style="font-size: 10px;"><%= @body %></p>
</section>