<section id='content' class='main'>
  <h2>TEMP</h2>
  <p>iss: <%= @serviceUri %></p>
  <p>launch: <%= @launchContextId %></p>
  <p>c_uri: <%= @conformanceUri %></p>
  <p>auri: <%= @authUri %></p>
  <p>turi: <%= @tokenUri %></p>

  <h2 id='patient'>Patient Information</h4>
    <table class="table table-user-information">
      <tbody>
      <tr>
        <td> <b>Personal Information: </b></td>
        <td></td>
      </tr>
      <tr>
        <td>Patient Name:</td>
        <td> John Smith</td>
      </tr>
      <tr>
        <td>Provider:</td>
        <td> Some MD</td>
      </tr>
      <tr>
        <td>Age:</td>
        <td>20</td>
      </tr>

      <tr>
      <tr>
        <td>Gender:</td>
        <td> M</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>...</td>
      </tr>
      <tr>
        <td>Mobile:</td>
        <td>...</td>
      </tr>
      <td>Job:</td>
      <td> h </td>

      </tr>

      </tr>
      <td>Marital Status:</td>
      <td> s </td>

      </tr>

      </tr>



      </tbody>
    </table>
    <h5>Other Information...</h5>
</section>