<!DOCTYPE html>
<html>
  <head>
    <title>Hello Epic!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <span class="logo"><img src="/assets/logo.svg" alt="" /></span>
        <h1>Hello Epic!</h1>
      </header>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><%= link_to "Login", root_path, class: current_page?(action: "login") ? 'active' : '' %></li>
          <li><%= link_to "Provider", provider_path, class: current_page?(action: "provider") ? 'active' : ''  %></li>
          <li><%= link_to "Patient", patient_path, class: current_page?(action: "patient") ? 'active' : ''  %></li>
        </ul>
      </nav>

      <div id="main">
        <%= yield %>
      </div>
    </div>


    <footer id="footer">

      <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

  </body>
</html>
